body {
  font-size: medium;
  min-width: 300px;
  max-width: 300px;
}
hr {
  border: none;
  height: 1px;
  background-color: rgba(172, 172, 172, 0.2);
}
img {
  height: 100%;
  padding: 0 5px;
}
#root {
  cursor: pointer;
  max-height: 405px;
  height: fit-content;
  overflow: scroll;
}
#root > div {
  padding: 0 8px 0 8px;
}
#root > div > div {
  padding: 0 8px;
}
input {
  height: 30px;
  width: 90%;
  outline: none;
  width: 90%;
  border-radius: 5px;
  border-color: rgba(33, 33, 33, 0.2);
  padding: 0 10px;
}
span {
  margin: 0 0;
  max-width: 70%;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.header {
  padding: 10px;
  text-align: center;
  display: flex;
}

.andMore {
  cursor: default;
  color: lightgray;
}

.bookmarkTitle {
  width: 200px;
}

.bookmarkShortcut {
  color: gray;
}

.bookmarkPath {
  font-size: small;
}
